
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
        }

        body {
            background-color: #7ea6ff;
        }

        /* ===== TOPO ===== */
        .hero {
            background-color: #7ea6ff;
            height: 730px;
            position: relative;
            overflow: hidden;
        }

        .fundo{
            width: 100%;
            position: absolute;
            top: 0;
        }

        /* Logo */
        .logo {
            width: 300px;
            position: absolute;
            top: 40px;
            left: 600px;

        }

        /* Texto */
        .hero-text {
            position: absolute;
            top: 300px;
            left: 250px;
            color: #fff;
            font-size: 35px;
            line-height: 1.3;
            font-weight: bold;
            font-family:cursive;
        }

        .mascote {
            width: 720px;
            position: absolute;
            bottom: 0;
            right: -90px;
            top: 180px;
        }

        /* Botão Play */
        .play-button {
            position: absolute;
            width: 200px;
            height: 190px;
            background-color: #ff4d4d;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0 6px 0 #d63b3b;
            right: 440px;
            top: 260px;
        }

        .play-button::before {
            content: '';
            border-style: solid;
            border-width: 40px 0 40px 60px;
            border-color: transparent transparent transparent #fff;
            margin-left: 12px;
        }

        
       

        /* Responsivo */
        @media (max-width: 600px) {
            .hero-text {
                font-size: 16px;
                left: 20px;
            }

            .play-button {
                right: 30px;
                width: 70px;
                height: 70px;
            }

            .arch {
                width: 90px;
                height: 140px;
            }
        }