

body {
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(ellipse 120% 80% at 60% 110%, #00A8CE 0%, #00C8F0 45%, #5DE8FF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;

}

.container {
  background: white;
  padding: 30px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  width: 320px;
  
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h2 {
    color: #ffffff;
    font-family: 'Baloo 2', cursive;
    font-size: clamp(40px, 6vw, 60px);
    font-weight: 900;
    letter-spacing: 2px;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        z-index: 2;
        position: relative;
        margin: 10px;
        padding: 20px;
    
  
}

/* BOTÕES */
.quiz-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px auto;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  font-weight: bold;
  font-family: 'Baloo 2', 'Arial Rounded MT Bold', Arial, sans-serif;
  font-size: 18px;
  
}

/* cores diferentes */
.contas {
  background: #42a5f5;
  box-shadow: 1px 1px 10px rgba(66,165,245,0.4);
}

.contexto {
  background: #ff7b9c;
  box-shadow: 1px 1px 10px rgba(255,123,156,0.4);
}

/* hover */
.quiz-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* animação */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* emoji maior */
.icone {
  font-size: 20px;
}

.circle {
  position: absolute;
  background-color: #0d8ba8;
  z-index: -1;
 
}

.circle-left {
  width: 400px;
  height: 400px;
  top: -30px;
  left: -200px;
  border-radius: 50%;
}

.circle-right {
  width: 400px;
  height: 400px;
  right: -250px;
  top: 400px;
  border-radius: 50%; 
}

.favo-de-cima {
    position: absolute;
    top: 110px;
    right: 100px;
    width: 200px;
    height: auto;
    z-index: -1;
}

.favo-de-baixo {
    position: absolute;
    bottom: -10px;
    left: -25px;
    width: clamp(80px, 15vw, 200px);
    height: auto;
    z-index: 1;
}

.mascote_pensando {
    position: absolute;
    top: 200px;
    right: 0;
    width: 350px;
    height: auto;
    z-index: 1;
}