<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Divermatica{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>
<body>


   <header class="nav-area">
    <div class="nav-container">

        <!-- LOGO -->
        <a href="{{ url_for('jogos_index') }}" class="nav-logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Divermatica">
        </a>

        <!-- LINKS -->
        <nav class="nav-menu">
            <a class="nav-item active" href="{{ url_for('jogos_index') }}">
                <img src="{{ url_for('static', filename='icons/estrela_jogos_icon.png') }}">
                Jogos
            </a>

            <a class="nav-item active" href="{{ url_for('sobre') }}">
                <img src="{{ url_for('static', filename='icons/sobre_icon.png') }}">
                Sobre
            </a>

            <a class="nav-item active" href="{{ url_for('quiz') }}">
                <img src="{{ url_for('static', filename='icons/quiz_icon.png') }}">
                Quiz
            </a>

        </nav>

    </div>
</header>


    <main>
        {% block content %}{% endblock %}
    </main>


</body>
</html>