<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>DivertMática</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>

    <section class="hero">

        <!-- Nuvens -->
        <img class="fundo" src="static/fundo.png" alt="">

        <!-- Logo -->
        <img class="logo" src="static/logo.png" alt="">

        <!-- Texto -->
        <div class="hero-text">
            APERTE O BOTÃO<br>
            AO LADO e acesse<br>nossa plataforma</span>
        </div>

        <!-- Botão -->
        <div class="play-button">
            <a href="{{ url_for('jogos_index') }}"></a>
        </div>
         
        <img class="mascote" src="static/mascote.png" alt="">


</body>
</html>

    
    
    
