<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='static/images/D-removebg-preview.png') }}">
    <div class="triangulo">

    </div>
    <div class="circulo">
        <a href="{{ url_for('jogos_index') }}"><button>Go to Jogos</button></a>
    </div>
    <div class="triangulo">

    </div>
</body>
</html>