{% extends "base.html" %}
{% block title %}Jogo da Memória - Divermática{% endblock %}
{% block content %}
<a href="{{ url_for('jogos_index') }}" class="back-link">← Voltar</a>

<div style="text-align: center; padding: 20px;">
    <h1>Jogo da Memória</h1>
    <p>Encontra os pares correspondentes!</p>
</div>

<div class="mascote-container">
    <div class="circle circle-left"></div>
    <div class="circle circle-right"></div>

    <img src="{{ url_for('static', filename='images/images-jogomemoria/mascote_pensando.png') }}" alt="Mascote" class="mascote_pensando">
    <img src="{{ url_for('static', filename='images/icons/favo_de_baixo.png') }}" alt="Favo inferior" class="favobaixo">
    <img src="{{ url_for('static', filename='images/icons/favo_de_cima.png') }}" alt="Favo superior" class="favocima">
</div>

<div class="wrapper">
    <ul class="cards">
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-1.svg') }}" alt="Quadrado">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-1.svg') }}" alt="Quadrado">
            </div>
        </li>

        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-2.svg') }}" alt="Triângulo">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-2.svg') }}" alt="Triângulo">
            </div>
        </li>

        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-3.svg') }}" alt="Círculo">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-3.svg') }}" alt="Círculo">
            </div>
        </li>

        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-4.svg') }}" alt="Estrela">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-4.svg') }}" alt="Estrela">
            </div>
        </li>

        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-5.svg') }}" alt="Losango">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-5.svg') }}" alt="Losango">
            </div>
        </li>

        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-6.svg') }}" alt="Hexágono">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-6.svg') }}" alt="Hexágono">
            </div>
        </li>

        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-7.svg') }}" alt="Pentágono">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-7.svg') }}" alt="Pentágono">
            </div>
        </li>

        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-8.svg') }}" alt="Cruz">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Verso da Carta">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/images-jogomemoria/img-8.svg') }}" alt="Cruz">
            </div>
        </li>
    </ul>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/jogo-memoria.css') }}">
<script src="{{ url_for('static', filename='js/jogo-memoria.js') }}"></script>
{% endblock %}