{% extends "base.html" %}
{% block title %}Jogo da Memória - Divermatica{% endblock %}
{% block content %}
<div style="text-align: center; padding: 20px;">
    <h1>Jogo da Memória</h1>
    <p>Encontre os pares correspondentes!</p>
</div>

<div class="wrapper">
    <ul class="cards">
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-1.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-2.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-3.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-4.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-5.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-6.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-7.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-8.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-1.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-2.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-3.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-4.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-5.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-6.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-7.png') }}" alt="card-img">
            </div>
        </li>
        <li class="card">
            <div class="view front-view">
                <img src="{{ url_for('static', filename='images/file.svg') }}" alt="icon">
            </div>
            <div class="view back-view">
                <img src="{{ url_for('static', filename='images/img-8.png') }}" alt="card-img">
            </div>
        </li>
    </ul>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='/css/jogo_memoria.css') }}">

<script src="{{ url_for('static', filename='func.js') }}"></script>
{% endblock %}