{% extends "base.html" %}
{% block title %}Jogo da Divisão - Divermatica{% endblock %}

{% block content %}

<main class="container">

<header>
  <h1>🎣 Pesca da Divisão</h1>
  <div class="hud">
    <div id="score">Pontuação: 0 | Combo x0</div>
    <div id="lives">Vidas: ❤️❤️❤️</div>
    <div id="timer">Tempo: 30s</div>
  </div>
</header>

<!-- Tela inicial -->
<section id="start-screen" class="overlay">
  <h2>Hora de pescar respostas!</h2>
  <p>Clique no peixe com a resposta correta.</p>
  <button id="start-btn" class="big">Começar</button>
</section>

<!-- Jogo -->
<section id="game" class="game hidden">

  <div class="question-box">
    <div id="question" class="question">12 ÷ 3 = ?</div>
  </div>

  <div class="lake">

    <div class="rod"> 
      🎣 
      <div class="line"></div> 
    </div> 

    <div id="ducks" class="fish-area"></div> 

    <div class="bucket"> 
      🪣
      <div id="bucket-count">0</div> 
    </div>

      <!-- peixes criados pelo JS -->
    </div>

  </div>

</section>

<!-- Tela final -->
<section id="game-over" class="overlay hidden">
  <h2>Fim da pescaria!</h2>
  <p id="final-score">Sua pontuação: 0</p>
  <button id="restart-btn" class="big">Pescar novamente</button>
</section>



</main>

<link rel="stylesheet" href="{{ url_for('static', filename='/css/pato.css') }}">
<script src="{{ url_for('static', filename='/js/pato.js') }}"></script>

{% endblock %}