{% extends "base.html" %}

{% block title %}Quiz de Contas - Divermatica{% endblock %}

{% block content %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz-contas.css') }}">

<body>

  <div class="imagens">
            <div class="circle circle-left"></div>
            <div class="circle circle-right"></div>

            <img src="{{ url_for('static', filename='images-jogomemoria/mascote_pensando.png') }}" alt="Mascote" class="mascote_pensando">
            <img src="{{ url_for('static', filename='index/favo_de_baixo.png') }}" alt="Favo de Baixo" class="favo-de-baixo">
            <img src="{{ url_for('static', filename='index/favo_de_cima.png') }}" alt="Favo de Cima" class="favo-de-cima">
        </div>

  <div class="container" id="quizTela">
    <h2>Quiz de Contas</h2>
    <form id="quizForm"></form>
    <button id="proxima" onclick="proximaQuestao()">Próxima</button>
  </div>

  <div class="container" id="resultadoTela">
    <h2 id="pontuacao"></h2>

    <div id="erros" class="result-box"></div>

    <div class="btn-group">
      <button class="novo" onclick="novoQuiz()">Novo Quiz</button>
      <button class="sair" onclick="sair()">Sair</button>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/quiz-contas.js') }}"></script>

{% endblock %}