{% extends "base.html" %}

{% block title %}Sobre - Divermatica{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">

<section class="welcome-section">

    <!-- Bolhas decorativas -->
    <div class="bubble bubble1"></div>
    <div class="bubble bubble2"></div>
    <div class="bubble bubble3"></div>
    <img src="{{url_for('static', filename='images/nuvem.png')}}" alt="Nuvem" class="nuvem">
    <img src="{{ url_for('static', filename='images/nuvem.png') }}" alt="Nuvem" class="nuvem2">
    <img src="{{ url_for('static', filename='images/mascote1.png') }}" alt="Mascote" class="mascote_voando">
    <img src="{{ url_for('static', filename='images/arbusto.png') }}" alt="Arbusto" class="arbusto">

    <!-- Card principal -->
    <div class="card">

        <h1>
            Aprender matemática pode ser divertido! 
        </h1>

        <p>
            Aqui, aprender matemática vira uma verdadeira aventura!
            Nossa plataforma foi criada especialmente para tornar os estudos
            mais divertidos, interativos e cheios de descobertas.
            Por meio de jogos, desafios e atividades criativas,
            você vai desenvolver seu raciocínio lógico enquanto se diverte.
        </p>

    </div>

    <!-- Mascote -->

    <!-- Cards inferiores -->
    <section class="features">

        <div class="feature-card">

            <div class="emoji">🎮</div>

            <h2>Jogos</h2>

            <p>
                Aprenda matemática brincando de forma divertida.
            </p>

        </div>

        <div class="feature-card">

            <img class="imagem1" src="{{ url_for('static', filename='images/icons/imagem1.png') }}" alt="Jogo da Memória">

            <h2>Quiz</h2>

            <p>
                Teste seus conhecimentos com desafios interativos.
            </p>

        </div>

        <div class="feature-card">

            <div class="emoji">🎯</div>

                <h2>Aprendizado</h2>
                <p>Desenvolva habilidades de forma divertida.</p>

        </div>

    </section>

</section>

{% endblock %}